<% @list.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
    </div>
<% end %>


<%= form_for @list do |f| %>
    <div class="form-group">
        <table class="table">
            <thead>
                <% unless current_page?('/lists/new') %>
                    <th>Close</th>
                <% end %>
                <th>List's Title</th>
            </thead>
            <tbody>
                <tr>
                    <% unless current_page?('/lists/new') %>
                        <td><%= f.check_box :close %></td>
                    <% end %>
                    <td><%= f.text_field :title, class: "form-control" %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <table class="table">
        <div class="form-group">
        <thead>
            <tr>
                <% unless current_page?('/lists/new') %>
                    <th>Close</th>
                <% end %>
                <th>Task</th>
            </tr>
        </thead>
        <tbody class="fields">
            <%= f.fields_for :todos do |p| %>
                <%= render "todo_fields", f: p %>
            <% end %>
        </tbody>
    </table>
    <div class="form-inputs">
        <%= f.label :public, "Make list public" %>
        <%= f.check_box :public %>
    </div>
    <br>
    <div class="form-actions" align="center">
        <%= render "lists/back_button" %>
        <%= link_to_add_row("Add", f, :todos, class: "btn btn-primary") %>
        <%= f.submit button_text, class: "btn btn-primary" %>  
        <% if @list.user_id == current_user.id && user_signed_in? %>
            <%= render "lists/delete_button", path: @list %>     
        <% end %>
    </div>
    </div>
    <br>
    <br>
<% end %>