<% @list.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
    </div>
<% end %>


    <%= form_for @list do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <div class="form-inline">
            <%= f.text_field :title, class: "form-control" %>
            <% if button_text == "Update" %>
                <%= render "delete_button", path: @list %>     
            <% end %>
            </div>
        </div>

        <%= f.fields_for :todos do |p| %>
            <%= render "todo_fields", f: p %>            
        <% end %>
        

        <div class="form-group">
            <%= f.label :public, "Make public?" %>
            <%= f.check_box :public %>

        </div>
        <div class="form-actions">
            <%= f.submit button_text, class: "btn btn-primary" %>  
            <%= link_to_add_row("Add", f, :todos, class: "btn btn-primary") %>
        </div>
        
    <% end %>