<% @list.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
    </div>
<% end %>


<%= form_for @list do |f| %>
    <div class="form-inputs">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Close</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody class="fields">
            <%= f.fields_for :todos do |p| %>
                <%= render "todo_fields", f: p %>
            <% end %>
        </tbody>
    </table>
    <div class="form-inputs">
        <%= f.label :public, "Make list public" %>
        <%= f.check_box :public %>
    </div>
    <br>
    <div class="form-actions" align="center">
        <% button_text == "Update" ? route = show_list_path(@list) : route = root_path %> 
        <%= render "back_button", route: route %>
        <%= link_to_add_row("Add", f, :todos, class: "btn btn-primary") %>
        <%= f.submit button_text, class: "btn btn-primary" %>  
        <% if @list.user_id == current_user.id && user_signed_in? %>
            <%= render "delete_button", path: @list %>     
        <% end %>
    </div>
    <br>
    <br>
<% end %>