<% opacity = 0.6 if list.close %>

<tr>
	<% if user_signed_in? %>
		<td><%= render "favourites", list: list %></td>
	<% end %>
		<td style="opacity: <%= opacity %>"><%= list.title %></td>
    	<td style="opacity: <%= opacity %>"><%= @users.find(list.user_id).name %></td>
    	<td style="opacity: <%= opacity %>"><%= list.created_at %></td>
	<td><%= link_to "View", show_list_path(list), class: "btn btn-primary", role: "btn" %></td>
	<% if user_signed_in? && current_user.id == list.user_id %>
		<td><% if !list.close %>
			<%= link_to "Edit", edit_list_path(list), class: "btn btn-default", role: "btn" %></td>
		<% end %>
		<%= render "delete_button", path: list %>
	<% end %>
</tr>
