<h1>Public Lists</h1>
	<div class="container">
	    <table class="table">
		    <thead>
		    	<% if user_signed_in? %>
		    		<th>Favourites</th>
				<% end %>
		        <th>Title</th>
			    <th>Author</th>
			    <th>Created at</th>
			    <th></th>
			    <th></th>
			    <th></th>
		    </thead>
		    <tbody>
		    	<% @lists.each do |list| %>
		    		<% opacity = 0.6 if list.close %>
					<% if list.public %>
			    		<tr>
			    			<% if user_signed_in? %>
			    				
			    					<td><%= render "favourites", list: list %></td>
			    				
			    			<% end %>
			    			<div>
					    		<td style="opacity: <%= opacity %>"><%= list.title %></td>
						    	<td style="opacity: <%= opacity %>"><%= @users.find(list.user_id).name %></td>
						    	<td style="opacity: <%= opacity %>"><%= list.created_at %></td>
					    	</div>
				    		<td><%= link_to "View", show_list_path(list), class: "btn btn-primary", role: "btn" %></td>
				    		<% if user_signed_in? && current_user.id == list.user_id %>
				    			<td><% if !list.close %>
				    				<%= link_to "Edit", edit_list_path(list), class: "btn btn-default", role: "btn" %></td>
				    			<% end %>
				    			<%= render "delete_button", path: list %>
				    		<% end %>
			    		</tr>
			    	<% end %>
				<% end %>
	        </tbody>
	    </table>
	</div>
	<br>
	<br>