<div>
    <h1>To Do List</h1>
    <ul>
        <td><strong>Title:</strong></td>
        <td><%= @list.title %></td>
    </ul>
    <ul>
        <td><strong>Author:</strong></td>
        <td><%= @list.user.name %></td>
    </ul>
    <ul>
        <td><strong>Created at:</strong></td>
        <td><%= @list.created_at %></td>
    </ul>
    <ul>
        <td><strong>Updated at:</strong></td>
        <td><%= @list.updated_at %></td>
    </ul>
</div>
<br/>
<% if @list.todos.present? %>
    <div>
        <h2>To Do's</h2>
        <% @list.todos.each do |todo| %>
            <li><%= todo.task %></li>
        <% end %>
    </div>
<% end %>
<% if user_signed_in? && current_user.id == @list.user_id %>
    <td><%= link_to "Edit", edit_list_path(@list), class: "btn btn-default", role: "btn" %></td>
    <td><%= link_to @list, method: :delete, data: {confirm: "Are you sure you want to remove #{@list.title}?"} do %><i class="fa fa-lf fa-trash"></i> <% end %></td>
<% end %>