<div class="container">
    <h1>To Do List</h1>
    <ul>
        <td><strong>Title:</strong></td>
        <td><%= @list.title %></td>
    </ul>
    <ul>
        <td><strong>Author:</strong></td>
        <td><%= @list.user.name %></td>
    </ul>
    <ul>
        <td><strong>Created at:</strong></td>
        <td><%= @list.created_at %></td>
    </ul>
    <ul>
        <td><strong>Last update:</strong></td>
        <td><%= @list.updated_at > @list.todos.order("updated_at").last.updated_at ? @list.updated_at : @list.todos.order("updated_at").last.updated_at %></td>
    </ul>
</div>
<br/>
<% if @list.todos.present? %>
    <div class="container">
        <h2>To Do's</h2>
        <table class="table">
            <thead>
                <th>Task</th>
                <th>Created at</th>
                <th>Updated at</th>
            </thead>
            <tbody>
                <% @list.todos.each do |todo| %>
                    <%= form_for @list.todo do |p| %>
                        <tr>
                            <td><%= f.check_box :close %></td>
                            <td><%= todo.task %></td>
                            <td><%= todo.created_at %></td>
                            <td><%= todo.updated_at %></td>
                            <% if @list.user_id == current_user.id && user_signed_in? %>
                                <td>
                                    <%= p.hidden_field :_destroy %>   
                                    <a href="" class="remove_record" type="button"><i class="fa fa-lf fa-trash"></i></a>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>
<div class="container" align="center">
    <%= render "back_button", route: root_url %>
    <% if user_signed_in? && current_user.id == @list.user_id %>
        <td><%= link_to "Edit", edit_list_path(@list), class: "btn btn-primary", role: "btn" %></td>
        <%= render "delete_button", path: @list %>
    <% end %>
</div>