<div>
    <h1>To Do List</h1>
    <ul>
        <td><strong>Title:</strong></td>
        <td><%= @list.title %></td>
    </ul>
    <ul>
        <td><strong>Author:</strong></td>
        <td><%= @list.user.email %></td>
    </ul>
    <ul>
        <td><strong>Created at:</strong></td>
        <td><%= @list.created_at %></td>
    </ul>
    <ul>
        <td><strong>Updated at:</strong></td>
        <td><%= @list.updated_at %></td>
    </ul>
</div>
<br/>
<% if @list.todos.present? %>
    <div>
        <h2>To Do's</h2>
        <% @list.todos.each do |todo| %>
            <li><%= todo.task %></li>
        <% end %>
    </div>
<% end %>